@import '../../../variables.scss';

.sidebar-container, .sidebar-container-wide {
    background: $dark-blue;
    position: relative;
    padding-top: 2rem;
    height: 100vh;
    box-shadow: inset 0px 2px 5px 1px darken($dark-blue, 5%);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-content: start;
    grid-gap: 1.5em;
    padding-left: 1.2em;
}

.sidebar-container {
    width: 4.8em;
}

.sidebar-container-wide {
    width: 13.3em;
}

.profile {
    width: 100%;
    display: grid;
    grid-template-areas:
        "profile-img profile-title"
        "profile-img profile-desc";

    a {
        grid-area: profile-img;
        align-self: center;
    }

    .profile__details {
        margin: 0;
        visibility: hidden;
        // transform: translateX(-100%);
        transition: all .2s ease-in;
    }

    .profile-title {
        grid-area: profile-title;
        text-transform: uppercase;
        font-size: 20px;
    }

    .profile-desc {
        grid-area: profile-desc;
        font-size: 14px;
        font-style: italic;
    }
}

.show {
    // transform: translateX(0);
    visibility: visible !important;
}

.profile-thumbnail {
    position: relative;
    max-width: 3.6rem;
    height: auto;
}

.toggle {
    background: transparent;
    border: none;
    display: block;
    padding-left: .9em;
}

.toggle:hover i{
    color: $french-yellow;
}

button {
    outline: none;
}

.fa-arrow-right {
    font-size: 2.5em;
    color: whitesmoke;
}

.flip-180 {
    transform: rotate(180deg);
    transition: transform .2s ease-in;
}

.profile-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-top: 5.3em;
}

// sidebar
.sidebar__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

// sidebar menu icons
.sidebar__menu-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 .82em;

    i {
        font-size: 1.5em;
        color: $gainsbro-grey;
        margin: .8em 0;

        &:hover {
            color: $french-yellow;
        }
    }
}

// sidebar__menu description
.sidebar__menu-desc {
    display: grid;
    justify-items: end;
    align-items: center;
    padding-right: 1.9em;

    visibility: hidden;
    transition: all .2s ease-in;

    span {
        font-weight: 700;
    }
}