@import '../../../variables.scss';

.sidebar-container {
    background: $dark-blue;
    position: relative;
    padding-top: 2rem;
    width: 13.3em;
    height: 100vh;
    box-shadow: inset 0px 2px 5px 1px darken($dark-blue, 5%);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-content: start;
    grid-gap: 1.5em;
    padding-left: 1.2em;
}

.profile {
    width: 100%;
    display: grid;
    grid-template-areas:
        "profile-img profile-title"
        "profile-img profile-desc";

    a {
        grid-area: profile-img;
        align-self: center;
    }

    .profile-title {
        grid-area: profile-title;
        text-transform: uppercase;
        font-size: 20px;
        margin: 0;
    }

    .profile-desc {
        grid-area: profile-desc;
        font-size: 14px;
        font-style: italic;
        margin: 0;
    }
}

.profile-thumbnail {
    position: relative;
    max-width: 3.6rem;
    height: auto;
}

.toggle {
    background: transparent;
    border: none;
    display: block;
}

.toggle:hover i{
    color: $french-yellow;
}

button {
    outline: none;
}

.fa-arrow-right {
    font-size: 2.5em;
    color: whitesmoke;
}

.flip-180 {
    transform: rotate(180deg);
    transition: transform .2s ease-in;
}

// .profile {
//     position: absolute;
//     top: 0;
//     width: 35%;
//     height: 100vh;
//     background: $dark-blue;
//     display: grid;
//     justify-items: center;
//     align-content: start;
//     grid-gap: 2rem;
//     padding: 5rem 0;
//     z-index: -1;
//     transform: translateX(-100%);
//     transition: transform .2s ease-in;
// }

// .show {
//     transform: translateX(0);
// }

.profile-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-top: 5.3em;
}

// sidebar
.sidebar__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

// sidebar menu icons
.sidebar__menu-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 1.2em;

    i {
        font-size: 1.5em;
        color: $gainsbro-grey;
        margin: .8em 0;

        &:hover {
            color: $french-yellow;
        }
    }
}

// sidebar__menu description
.sidebar__menu-desc {
    display: grid;
    justify-items: end;
    align-items: center;
    padding-right: 1.2em;

    span {
        font-weight: 700;
    }
}